
@{
    ViewBag.Title = "Mis Recibos";
}

<div class="card mt-4">
    <div class="card-header">
        <h4 class="card-title"> Mis Recibos</h4>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <div id="gridMisRecibos"></div>
            </div>
        </div>
    </div>
</div>


@section Scripts {

    <script src="~/Scripts/Client/Recibo/Index.js"></script>
}