
@{
    ViewBag.Title = "Recibos Globales";
}
<div class="card mt-4">
    <div class="card-header">
        <h4 class="card-title"> Recibos Realizados</h4>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <div id="gridRecibos"></div>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script src="~/Scripts/Client/Recibo/RecibosGlobales.js"></script>
}
