@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Recibos Client</h1>
    <p class="lead">Proyecto Cliente del Api de recibos</p>
    <p><a href="/Recibo" class="btn btn-primary btn-lg">Administración &raquo;</a></p>
</div>